In [1]:
%load_ext autoreload
%autoreload 2

import re
from glob import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import matplotlib
plt.style.use('ggplot')
matplotlib.rcParams['figure.figsize'] = 12, 6
matplotlib.rcParams['font.size'] = 18  # Probably OS Dependent

In [3]:
data_files = glob('../public/*.json')

dfs = []
for file_ in data_files:
    df = pd.read_json(file_)
    df['state'] = re.search('public/(.+).json', file_).group(1).title()
    dfs += [df]
    
df = pd.concat(dfs).reset_index()

def empty_null(el_list):
    if type(el_list) != list:
        return []
    return el_list
df['emails'] = df['emails'].apply(empty_null)
df['faxes'] = df['faxes'].apply(empty_null)
df['phones'] = df['phones'].apply(empty_null)

df.sample(5, random_state=42)

,index,locale,official,emails,faxes,phones,county,address,party,state,contacts,physicalAddress,city,url,faxs,urls
2855,89,Sumpter Township:Wayne County,Esther Hurst,[clerk@sumptertwp.org],[(734) 461-6441],[(734) 461-6201],Wayne County,NaN,NaN,Michigan,NaN,NaN,Sumpter Township,NaN,NaN,NaN
693,441,Town of Gordon:Douglas County,Stephanie James,[gordontowndouglas@yahoo.com],[(715)376-2668],[],Douglas County,"Po Box 68, Gordon, Wi 54838-0068",NaN,Wisconsin,NaN,"9709 E County Road Y, Gordon, Wi 54838",Town of Gordon,NaN,NaN,NaN
1429,1177,Town of Salem:Pierce County,Ruth Kay,[ruthkay1964@gmail.com],[],[],Pierce County,"W1085 Cardinal Drive, Spring Valley, Wi 54767",NaN,Wisconsin,NaN,"N3599 County Road A, Maiden Rock, Wi 54750-8105",Town of Salem,NaN,NaN,NaN
1200,948,Village of Elderon:Marathon County,Robert Wyman,[],[],[],Marathon County,"Po Box 23, Elderon, Wi 54429-0023",NaN,Wisconsin,NaN,"184485 State Highway, Wittenberg, Wi 54429",Village of Elderon,NaN,NaN,NaN
3915,1149,Lake City City:Missaukee County,Judy Houle,[lcclerk016@gmail.com],[(231) 839-8666],[(231) 839-4561],Missaukee County,NaN,NaN,Michigan,NaN,NaN,Lake City City,NaN,NaN,NaN

In [4]:
def non_empty_element(el_list):
    values = [len(x.strip()) > 0 for x in el_list if x]
    if len(values) == 0:
        return False
    return any(values)

def not_null_empty(series):
    return (series.notnull() & series.apply(lambda x: x != ''))

email = df['emails'].apply(empty_null).apply(non_empty_element)
fax = df['faxes'].apply(empty_null).apply(non_empty_element)
phone = df['phones'].apply(empty_null).apply(non_empty_element)
city = not_null_empty(df['city'])
county = not_null_empty(df['county'])

df_valid = pd.DataFrame({
    'official': df['official'].notnull(),
    'locale': not_null_empty(df['locale']),
    'city': city,
    'county': county,
    'city_county': (city | county),
    'email': email,
    'faxes': fax,
    'phones': phone,
    'fax_email': (email | fax),
    'url': df['url'].notnull()
})

df_stat = df_valid.groupby(df['state']).mean()
df_stat.loc[:, 'records'] = df.groupby('state').size()

df_len = df[['state']]
df_len.loc[:, 'emails'] = df['emails'].apply(lambda x: len(x))
df_len.loc[:, 'faxes'] = df['faxes'].apply(lambda x: len(x))
df_len.loc[:, 'phones'] = df['phones'].apply(lambda x: len(x))
df_stat.loc[:, 'email_max'] = df_len.groupby('state')['emails'].max()
df_stat.loc[:, 'fax_max'] = df_len.groupby('state')['faxes'].max()
df_stat.loc[:, 'phone_max'] = df_len.groupby('state')['phones'].max()
df_stat.sort_index()

/Users/tianhui/projects/elections-officials/venv/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/tianhui/projects/elections-officials/venv/lib/python3.7/site-packages/pandas/core/indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,official,locale,city,county,city_county,email,faxes,phones,fax_email,url,records,email_max,fax_max,phone_max
state,,,,,,,,,,,,,,
Florida,1.000000,1.0,0.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000,67,1,0,0
Georgia,1.000000,1.0,0.000000,1.000000,1.0,0.968553,0.987421,0.000000,0.993711,0.000000,159,1,1,0
Maine,1.000000,1.0,1.000000,0.000000,1.0,0.000000,0.942460,1.000000,0.942460,0.000000,504,0,1,1
Maryland,0.916667,1.0,0.000000,1.000000,1.0,1.000000,0.000000,0.916667,1.000000,1.000000,24,4,0,2
Michigan,1.000000,1.0,1.000000,1.000000,1.0,0.981107,0.687296,1.000000,0.988925,0.000000,1535,1,1,1
Minnesota,1.000000,1.0,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.000000,87,1,1,1
Nebraska,1.000000,1.0,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.000000,93,1,1,1
Virginia,1.000000,1.0,0.285714,0.714286,1.0,1.000000,1.000000,0.000000,1.000000,0.541353,133,1,1,0
Wisconsin,1.000000,1.0,1.000000,0.969779,1.0,0.861846,0.546681,0.000000,0.950890,0.000000,1853,2,1,0

## Michigan

In [5]:
df_mi = df[df['state'] == 'Michigan']
df_mi['city'].value_counts().head()

Grant Township       11
Sherman Township      9
Lincoln Township      7
Lake Township         6
Garfield Township     6
Name: city, dtype: int64

However, locales are unique

In [6]:
assert((df_mi['city'] + ':' + df_mi['county'].fillna('') == df_mi['locale']).all())
df_mi['locale'].value_counts().head()

West Branch Township:Ogemaw County    1
Stockbridge Township:Ingham County    1
Grand Island Township:Alger County    1
Orion Township:Oakland County         1
New Buffalo City:Berrien County       1
Name: locale, dtype: int64

## Wisconsin Unique Identifier

Wisonsin towns cannot be uniquely identified by city

In [7]:
df_wi = df[df['state'] == 'Wisconsin']
df_wi['city'].value_counts().head()

Town of Lincoln       12
Town of Washington     8
Town of Union          7
Town of Scott          7
Town of Grant          6
Name: city, dtype: int64

The locales are unique, but don't properly handle multi-county cities (blank entry)

In [8]:
assert((df_wi['city'] + ':' + df_wi['county'].fillna('') == df_wi['locale']).all())
df_wi['locale'].value_counts().head()

Village of Blue Mounds:Dane County    1
Town of Meeme:Manitowoc County        1
City of Blair:Trempealeau County      1
Town of Merton:Waukesha County        1
Town of Jordan:Green County           1
Name: locale, dtype: int64

So we need to ensure that all multi-county cities are unique across the entire state

In [9]:
multi_county_cities = df_wi.loc[df_wi['county'].isnull(), 'city']
df_wi.loc[df_wi['city'].isin(multi_county_cities), 'city'].value_counts().head()

Village of Muscoda       1
City of Abbotsford       1
City of Eau Claire       1
Village of Mukwonago     1
Village of Genoa City    1
Name: city, dtype: int64