In [1]:
%load_ext autoreload
%autoreload 2

import re
from glob import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import matplotlib
plt.style.use('ggplot')
matplotlib.rcParams['figure.figsize'] = 12, 6
matplotlib.rcParams['font.size'] = 18  # Probably OS Dependent

In [3]:
data_files = glob('../public/*.json')

dfs = []
for file_ in data_files:
    df = pd.read_json(file_)
    df['state'] = re.search(r'public[/\\](.+).json', file_).group(1).title()
    dfs += [df]
    
df = pd.concat(dfs).reset_index()

def empty_null(el_list):
    if type(el_list) != list:
        return []
    return el_list
df['emails'] = df['emails'].apply(empty_null)
df['faxes'] = df['faxes'].apply(empty_null)
df['phones'] = df['phones'].apply(empty_null)

df.sample(5, random_state=42)

,index,county,locale,phones,faxes,url,emails,official,officialTitle,address,physicalAddress,other_officials,state,contacts,city,urls,party
471,230,NaN,Knox,[(207) 568-3907],[(207) 568-3927],NaN,[],Tamara Clark,NaN,"[10 Abbott Rd, , Knox, ME 04986]",NaN,NaN,Maine,NaN,Knox,NaN,NaN
4073,1374,Sauk County,Town of Baraboo:Sauk County,[],[(608)356-2386],NaN,[],Morgan Olson,NaN,None,"101 Cedar St, Baraboo, Wi 53913-1182",NaN,Wisconsin,NaN,Town of Baraboo,NaN,NaN
23,8,Flagler County,Flagler County,[],[],http://www.flaglerelections.com,[info@flaglerelections.com],Kaiti Lenhart,NaN,NaN,NaN,NaN,Florida,NaN,NaN,NaN,NaN
3483,784,Kewaunee County,Town of Lincoln:Kewaunee County,[],[],NaN,[ma.salmon1@gmail.com],Mary Ann Salmon,NaN,"N9275 County Road P, Algoma, Wi 54201-9779","N8016 Maple Rd, Casco, Wi 54205-9767",NaN,Wisconsin,NaN,Town of Lincoln,NaN,NaN
135,53,Heard County,Heard County,[],[(706) 675-2134],NaN,[tadams@heardcountyga.com],Charles Tonnie Adams,NaN,NaN,NaN,NaN,Georgia,{'Physical Address': {'kind': 'Physical Addres...,NaN,NaN,NaN

In [4]:
def non_empty_element(el_list):
    values = [len(x.strip()) > 0 for x in el_list if x]
    if len(values) == 0:
        return False
    return any(values)

def not_null_empty(series):
    return (series.notnull() & series.apply(lambda x: x != ''))

email = df['emails'].apply(empty_null).apply(non_empty_element)
fax = df['faxes'].apply(empty_null).apply(non_empty_element)
phone = df['phones'].apply(empty_null).apply(non_empty_element)
city = not_null_empty(df['city'])
county = not_null_empty(df['county'])

df_valid = pd.DataFrame({
    'official': df['official'].notnull(),
    'locale': not_null_empty(df['locale']),
    'city': city,
    'county': county,
    'city_county': (city | county),
    'email': email,
    'faxes': fax,
    'phones': phone,
    'fax_email': (email | fax),
    'url': df['url'].notnull()
})

df_stat = df_valid.groupby(df['state']).mean()
df_stat.loc[:, 'records'] = df.groupby('state').size()

df_len = df[['state']]
df_len.loc[:, 'emails'] = df['emails'].apply(lambda x: len(x))
df_len.loc[:, 'faxes'] = df['faxes'].apply(lambda x: len(x))
df_len.loc[:, 'phones'] = df['phones'].apply(lambda x: len(x))
df_stat.loc[:, 'email_max'] = df_len.groupby('state')['emails'].max()
df_stat.loc[:, 'fax_max'] = df_len.groupby('state')['faxes'].max()
df_stat.loc[:, 'phone_max'] = df_len.groupby('state')['phones'].max()
df_stat.sort_index()

c:\users\trist\documents\elections-officials\venv\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\trist\documents\elections-officials\venv\lib\site-packages\pandas\core\indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,official,locale,city,county,city_county,email,faxes,phones,fax_email,url,records,email_max,fax_max,phone_max
state,,,,,,,,,,,,,,
Arizona,1.0,1.0,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,15,3,2,4
Florida,1.0,1.0,0.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000,67,1,0,0
Georgia,1.0,1.0,0.000000,1.000000,1.0,0.968553,0.987421,0.000000,0.993711,0.000000,159,1,1,0
Maine,1.0,1.0,1.000000,0.000000,1.0,0.000000,0.942460,1.000000,0.942460,0.000000,504,0,1,1
Maryland,0.0,1.0,0.041667,0.958333,1.0,1.000000,1.000000,0.916667,1.000000,1.000000,24,2,1,2
Michigan,1.0,1.0,1.000000,1.000000,1.0,0.981107,0.687296,1.000000,0.988925,0.000000,1535,1,1,1
Minnesota,1.0,1.0,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.000000,87,1,1,1
Nebraska,1.0,1.0,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.000000,93,1,1,1
Nevada,1.0,1.0,0.058824,0.941176,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,17,2,1,1
New_York,1.0,1.0,0.000000,1.000000,1.0,0.984615,1.000000,1.000000,1.000000,1.000000,65,2,2,1
Virginia,1.0,1.0,0.285714,0.714286,1.0,1.000000,1.000000,0.000000,1.000000,0.541353,133,1,1,0
Wisconsin,1.0,1.0,1.000000,0.969779,1.0,0.861846,0.546681,0.000000,0.950890,0.000000,1853,5,1,0

## Michigan

In [5]:
df_mi = df[df['state'] == 'Michigan']
df_mi['city'].value_counts().head()

Grant Township       11
Sherman Township      9
Lincoln Township      7
Lake Township         6
Garfield Township     6
Name: city, dtype: int64

However, locales are unique

In [6]:
assert((df_mi['city'] + ':' + df_mi['county'].fillna('') == df_mi['locale']).all())
df_mi['locale'].value_counts().head()

Medina Township:Lenawee County                 1
Arvon Township:Baraga County                   1
West Traverse Township:Emmet County            1
Brighton Charter Township:Livingston County    1
Gladwin Township:Gladwin County                1
Name: locale, dtype: int64

## Wisconsin Unique Identifier

Wisonsin towns cannot be uniquely identified by city

In [7]:
df_wi = df[df['state'] == 'Wisconsin']
df_wi['city'].value_counts().head()

Town of Lincoln       12
Town of Washington     8
Town of Scott          7
Town of Union          7
Town of Grant          6
Name: city, dtype: int64

The locales are unique, but don't properly handle multi-county cities (blank entry)

In [8]:
assert((df_wi['city'] + ':' + df_wi['county'].fillna('') == df_wi['locale']).all())
df_wi['locale'].value_counts().head()

City of Mequon:Ozaukee County              1
City of Schofield:Marathon County          1
Town of Hay River:Dunn County              1
Town of Edson:Chippewa County              1
Village of Hortonville:Outagamie County    1
Name: locale, dtype: int64

So we need to ensure that all multi-county cities are unique across the entire state

In [9]:
multi_county_cities = df_wi.loc[df_wi['county'].isnull(), 'city']
df_wi.loc[df_wi['city'].isin(multi_county_cities), 'city'].value_counts().head()

Village of Newburg        1
Village of Turtle Lake    1
City of Eau Claire        1
City of Milwaukee         1
City of Stanley           1
Name: city, dtype: int64